{% load static %}
{% load filters %}
{% for comment in comments %}

    <div class="media mt-4">
        <img
        class="d-flex mr-3 rounded-circle"
        src="{% static 'movies/img/s4.png' %}"

        alt=""
        />
        <div class="media-body">
        <div class="mt-0 mb-1">
            <span class="h6 mr-2 font-weight-bold text-gray-900">{{comment.full_name}}</span
            <span><i class="fa fa-calendar"></i> {{comment.creating_at|date:"Y-m-d"}}</span>
            <div class="stars-rating float-right">

                {{comment.stars|display_rating|safe}}
            {% comment %} <i class="fa fa-star active"></i>
            <i class="fa fa-star active"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i> {% endcomment %}
            <span class="rounded bg-warning text-dark pl-1 pr-1">5/{{comment.stars}}</span>
            </div>
        </div>
        <p class="mb-0">
            {{comment.review}}
        </p>
        </div>
    </div>


{% endfor %}